@*
    This file is part of BestterSudoku.

    BestterSudoku is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Foobar is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with BestterSudoku.  If not, see <https://www.gnu.org/licenses/>
*@
@{
    ViewData["Title"] = "Index";
}


@section Scripts
    {
    <script type="text/javascript">
        var sudoku = new Sudoku();
        $(function () {
            $("#btnCreate").click(function () {
                //alert("");               
             
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Create")',
                    //data: '{std: ' + JSON.stringify(std) + '}',
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        debugger;
                        sudoku.importPuzzle(data);
                        //var html = '';
                        //$('#sudoku').addClass('sudokuTable');
                        //console.dir(data);
                        //alert("Data has been added successfully.");
                        //for (var i = 0; i < 9; i++) {
                        //    html += '\t<tr>';

                        //    for (var j = 0; j < 9; j++) {
                        //        html += '\t\t<td class="sudokuCell">';

                        //        html += '\t\t\t<div class="sudokuNumberBox">';
                        //        html += data.Grids[i, j].Value;
                        //        html += '\t\t\t</div>';

                        //        html += '\t\t</td>';
                        //    }

                        //    html += '\t</tr>';
                        //}
                       
                        //$('#sudoku').append(html);                        
                    },
                    error: function (ex) {
                        debugger;
                        alert(ex.responseText);                        
                    }
                });
                return false;
            });
        });

        
        
    </script>
}


<h1>Index</h1>
<div>
    <input class="btn btn-primary" name="submitButton" id="btnCreate" value="Create" type="button" />
</div>

<div id="sudoku"></div>

<div>
    @Html.ActionLink("Resolve", "Resolve")
</div>