@*
    This file is part of BestterSudoku.

    BestterSudoku is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Foobar is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with BestterSudoku.  If not, see <https://www.gnu.org/licenses/>
*@
@model BestterSudoku.Models.ResolveValue

@{
    ViewData["Title"] = "Resolve";
}

<div>
    <table style="border: 1px solid black;">
        @if (@Model != null && Model.Grid != null)
        {
            var grids = Model.Grid.GetValues();
            @for (int i = 0; i <= 2; i++)
            {
                <tr>
                    @for (int j = 0; j <= 2; j++)
                    {
                        SudokuSubGrid grid = grids[i, j];
                        <td style="border: 2px double black; ">
                            <table>

                                @for (int ia = 0; ia <= 2; ia++)
                                {
                                    <tr>

                                        @for (int ja = 0; ja <= 2; ja++)
                                        {
                                            SubGridValue value = grid.GetValue(ia, ja);
                                            if (value.IsDefinition)
                                            {
                                                <td style="border: 2px solid black; width: 2em; height:2em;">@Html.Raw(value.Value.ToString())</td>
                                            }
                                            else
                                            {
                                                <td style="border: 3px dotted fuchsia; width: 2em; height:2em;">@Html.Raw(value.Value.ToString())</td>
                                            }
                                        }
                                    </tr>
                                }
                            </table>
                        </td>
                    }
                </tr>
            }
        }
    </table>
    <div>
        <span>@Model.NbTry</span>
        <span>@Model.Elapsed.ToString()</span>
    </div>
</div>
