@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Sudoku.Models.ResolveValue

@{
    ViewData["Title"] = "Resolve";
}

<div>
    <table style="border: 1px solid black;">
        @if (@Model != null && Model.Grid != null)
        {
            var grids = Model.Grid.GetValues();
            @for (int i = 0; i <= 2; i++)
            {
                <tr>
                    @for (int j = 0; j <= 2; j++)
                    {
                        SudokuSubGrid grid = grids[i, j];
                        <td style="border: 2px dotted black;">
                            <table>

                                @for (int ia = 0; ia <= 2; ia++)
                                {
                                <tr>

                                    @for (int ja = 0; ja <= 2; ja++)
                                    {
                                        SubGridValue value = grid.GetValue(ia, ja);
                                        if (value.IsDefinition)
                                        {
                                            <td style="border: 2px solid black; width: 2em; height:2em;">@Html.Raw(value.Value.ToString())</td>
                                        }
                                        else
                                        {
                                            <td style="border: 3px solid fuchsia; width: 2em; height:2em;">@Html.Raw(value.Value.ToString())</td>
                                        }
                                    }
                                </tr>
                                }
                            </table>
                        </td>
                    }
                </tr>
            }
        }
    </table>
    <div>
        <span>@Model.NbTry</span>
        <span>@Model.Elapsed.ToString()</span>
    </div>
</div>
